<div class="search-container">
  <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="logo" routerLink="/">
      <img src="../../../assets/images/game-logo.png" alt="game app logo" />
    </div>
    <input
      class="search-input"
      name="search"
      ngModel
      placeholder="Search +350,000 games for 50 platforms"
    />
    <button class="search-button">Search</button>
  </form>
  <div class="filters">
    <mat-form-field>
      <mat-label>Sort</mat-label>
      <mat-select
        panelClass="sort-select"
        [(ngModel)]="sort"
        (selectionChange)="searchGames(sort)"
      >
        <mat-option value="name">Name</mat-option>
        <mat-option value="-released">Released</mat-option>
        <mat-option value="-added">Added</mat-option>
        <mat-option value="-created">Created</mat-option>
        <mat-option value="-rating">Rating</mat-option>
        <mat-option value="-updated">Updated</mat-option>
        <mat-option value="metacritic">Metacritic</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
