.filters {
  max-width: 1200px;
  margin: 20px auto;
  padding-left: 20px;
}

::ng-deep {
  mat-label {
    color: var(--3rd-color);
  }

  .mat-form-field-infix {
    background-color: var(--light-color);
  }

  .mat-select-arrow {
    color: var(--3rd-color);
  }

  .mat-select-value,
  .mat-form-field-hide-placeholder .mat-select-placeholder,
  .mat-form-field-appearence-legacy .mat-form-field-label {
    color: var(--light-color) !important;
    opacity: 1;
  }
  .mat-form-field-infix {
    border-color: var(--light-color) !important;
    border-top: none;
    padding-left: 5px !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    padding-left: 5px;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: var(--light-color) !important;
  }
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
}

.game {
  &-box {
    width: 280px;
    margin: 10px;
    height: 330px;
    overflow: hidden;
    border-radius: 15px;
    background-color: var(--2nd-color);
    box-shadow: 1px 1px 31px 4px rgba(0, 0, 0, 0.68);
    -webkit-box-shadow: 1px 1px 31px 4px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 1px 1px 31px 4px rgba(0, 0, 0, 0.68);
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      box-shadow: 1px 1px 10px 5px rgba(225, 100, 40, 0.74);
      -webkit-box-shadow: 1px 1px 10px 5px rgba(225, 100, 40, 0.74);
      -moz-box-shadow: 1px 1px 10px 5px rgba(225, 100, 40, 0.74);
      transform: translateY(-3px);
    }
  }

  &-thumb-container {
    background-color: var(--2nd-color);
    position: relative;
    height: 172px;
    color: var(--light-color);
    text-align: center;
  }

  &-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 172px;
    min-width: 305.77px;
  }

  &-description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 120px;
  }

  &-name {
    font-weight: 500;
    font-size: 1.3em;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-platforms {
    display: flex;
  }

  &-platform {
    width: 20px;
    margin-right: 10px;
  }
}
