<div>
  <h1 class="app-title typing">COOL GAMES</h1>
</div>
<div class="games">
  <ng-container *ngFor="let game of games">
    <div class="game-box" (click)="openGameDetails(game.id)">
      <div class="game-thumb-container">
        <!--if there is a background image img it'll be used as a source-->
        <img
          *ngIf="game.background_image"
          class="game-thumbnail"
          src="{{ game.background_image }}"
          alt="thumbnail"
        />
        <p *ngIf="!game.background_image">🔺oops! 😢 no image 😭</p>
      </div>
      <div class="game-description">
        <p class="game-name">{{ game.name }}</p>
        <div class="game-platforms">
          <img
            *ngFor="let gamePlatform of game.parent_platforms"
            class="game-platform"
            src="assets/images/platforms/{{ gamePlatform.platform.name }}.svg"
            alt="{{ gamePlatform.platform.name }}"
          />
        </div>
      </div>
    </div>
  </ng-container>
</div>
