@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.app-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3em;
  text-align: center;
  padding: 25px;
  margin: 20px auto;
}

.typing {
  width: 22ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
}

.game {
  &-box {
    width: 280px;
    margin: 10px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    background-color: var(--2nd-color);
    box-shadow: 1px 1px 31px 4px rgba(0, 0, 0, 0.68);
    -webkit-box-shadow: 1px 1px 31px 4px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 1px 1px 31px 4px rgba(0, 0, 0, 0.68);
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      box-shadow: 1px 1px 10px 5px rgba(225, 100, 40, 0.74);
      -webkit-box-shadow: 1px 1px 10px 5px rgba(225, 100, 40, 0.74);
      -moz-box-shadow: 1px 1px 10px 5px rgba(225, 100, 40, 0.74);
      transform: translateY(-3px);
    }
  }

  &-thumb-container {
    background-color: var(--2nd-color);
    position: relative;
    height: 172px;
    color: var(--light-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 172px;
    min-width: 305.77px;
  }

  &-description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 73px;
  }

  &-name {
    font-weight: 500;
    font-size: 1.3em;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-platforms {
    display: flex;
  }

  &-platform {
    width: 20px;
    margin-right: 10px;
  }
}
